@import './../../styles/global.css';


.inputWrapper {
  position: relative;
  width: 100%;
  margin: 42px auto;
}

.input {
  width: 100%;
  padding-left: 40px;
  height: 36px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input:focus {
  border-color: var(--primary-color);
  outline: none; 
}

.input::placeholder {
  color: var(--second-text-color);
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 18px;
  color: #618561;
}


.container{
    width: 80%;
    margin: 0 auto;
}


