@import './../../styles/global.css';


.inputWrapper {
  position: relative;
  width: 100%;
  margin: 42px auto;
}

.inputWrapper input {
  width: 95%;
  padding: 6px;
  padding-left: 40px;
  height: 36px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.inputWrapper input:focus {
  border-color: var(--primary-color);
  outline: none; 
}

.inputWrapper input::placeholder {
  color: var(--second-text-color);
  font-size: large;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 18px;
}

.search{
  display: flex;
  align-items: center;
}

.search button{
  width: 10%;
  padding: 0 20px;
  height: 1%;
  align-items: center;
  display: flex;
  text-align: center;
  margin: 0 10px;
}

.container{
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}


