
.container{
    padding: 20px;
    border-bottom: 1px solid rgb(218, 218, 218);
}

header{
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 180px;
}

.button{
    width: 200px;
    padding: 11px;
}

.navLinks{
    align-items: center;
}

.navLinks Link{
    align-items: center;
}

.navLinks a{
    margin: 5px;
    text-decoration: none;
    color: var(--text-color);
    margin-bottom: 8px;
}

.navLinks img{
    margin: 0 9px;
    transition: 0.9s;
}

.navLinks img:hover{
    opacity: 50%;
}