
@import './../../styles/global.css';


.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-color);
    align-items: center;
    padding: 20px;
}

.image{
    border-radius: 4%;
}

.button{
    width: 50%;
}