@import './../../styles/global.css';

.containerFooter{
    margin-top: 100px;
    bottom: 0;
}

footer{
    background-color: var(--secondary-color);

    padding: 12px;
}

.textFooter{
    margin-top: 50px;
}

footer p{
    text-align: center;
}